.center-align {
	display: flex;
	justify-content: center;
}

.background {
	background-color: blue;
}

.footer {
  border-top: rgb(196, 13, 13) solid 4px;
  width: 100%;
  height: 35px;
  position: fixed;
  bottom: 0;
}